<nav class="navbar navbar-light bg-light flex">
  <div class="navbar-brand">
    <%= link_to 'Home', root_path%> |
    <%=  link_to 'Post', posts_path%>
  </div>

  <div>
    <% if user_signed_in? %>
      <button type="button" class="btn btn-success">logoff</button>
    <% else %>
      <button type="button" class="btn btn-primary">Sign-in</button>
      <button type="button" class="btn btn-light">Sign-up</button>
    <% end %>
  </div>
</nav>